.tab{
  background-image: linear-gradient(Lavender, Lavender);
  color: black;
}
.tab--selected{
  color: white !important;
  background-image: linear-gradient(navy, navy)
}
.card-header{
  background-image: linear-gradient(Lavender, Lavender);
  color: black;
}